<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HRMM_Template</title>
    <th:block th:replace="commons/commons.html :: headerfiles"></th:block>
    <th:block th:replace="commons/commons.html :: headCssLink"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between" th:insert="commons/commons.html :: logo"></div>
    <!-- End Logo -->

    <div class="search-bar" th:replace="commons/commons.html :: searchBar"></div>
    <!-- End Search Bar -->



    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none" th:replace="commons/commons.html :: searchIcon"></li>
            <!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown" th:replace="commons/commons.html :: notificationIcon"></a>
                <!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" th:replace="commons/commons.html :: notificationDropDown"></ul>
                <!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="/assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="fa-solid fa-house"></i>
                <span>首頁</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#dept-nav" data-bs-toggle="collapse" href="#">
                <i class="fa-regular fa-building"></i><span>部門管理</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="dept-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="departmentList.html">
                        <i class="bi bi-circle"></i><span>部門查詢</span>
                    </a>
                </li>
                <li>
                    <a href="addDepartment.html">
                        <i class="bi bi-circle"></i><span>部門新增</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Department Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="fa-regular fa-user"></i><span>員工管理</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="employeeList.html">
                        <i class="bi bi-circle"></i><span>員工查詢</span>
                    </a>
                </li>
                <li>
                    <a href="addEmployee.html">
                        <i class="bi bi-circle"></i><span>員工新增</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Department Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#sys-nav" data-bs-toggle="collapse" href="#">
                <i class="fa-solid fa-gear"></i><span>系統管理</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="sys-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="forms-elements.html">
                        <i class="bi bi-circle"></i><span>使用者帳號管理</span>
                    </a>
                </li>
                <li>
                    <a href="forms-layouts.html">
                        <i class="bi bi-circle"></i><span>使用者權限管理</span>
                    </a>
                </li>
            </ul>
        </li><!-- End System Nav -->

    </ul>

</aside>
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>部門查詢</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">部門管理</li>
                <li class="breadcrumb-item active">部門查詢</li>
            </ol>
        </nav>
    </div>
    <!-- ***************End Page Title*************** -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">部門列表</h5>

                    <div class="container">
                        <div class="row">
                            <label for="inputDeptName" class="col-lg-1 col-form-label">部門名稱</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control " style="width: 330px;" id="inputDeptName">
                            </div>
                            <!-- End NameSearch Bar -->

                            <div class="col-lg-6 ms-3">
                                <div class="row ms-4">
                                    <label class="col-lg-2 col-form-label">部門編號</label>
                                    <div class="col-lg-8">
                                        <select class="form-select" id="deptId_select" name="deptId_select" aria-label="Default select example"  style="width: 350px;">
                                            <option selected value="-1" >查詢全部</option>
                                            <option th:each="department: ${departmentList}" th:value="${department.deptId}" th:text="${department.deptName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- form-select End -->
                        </div>


                    </div>
                    <div class="container">
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-primary" type="button" id="search_button">搜尋  <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>

                </div>



                <!-- Bordered Table -->
                <div class="table-responsive">
                    <table class="table table-bordered mt-4">
                        <thead>
                        <tr>
                            <th scope="col" class="col-lg-1">#</th>
                            <th scope="col" class="col-lg-3">部門編號</th>
                            <th scope="col" class="col-lg-3">部門名稱</th>
                            <th scope="col" class="col-lg-3">部門地點</th>
                            <th scope="col" class="col-lg-2">修改</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>A111</td>
                            <td>Sherry</td>
                            <td>Specialist</td>
                            <td><i class="fa-regular fa-pen-to-square"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>B666</td>
                            <td>Grace</td>
                            <td>Manager</td>
                            <td>icon</td>
                        </tr>

                        </tbody>
                    </table>
                    <!-- End Bordered Table -->
                    <div class="mt-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End pagination -->


            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer" th:replace="commons/commons.html :: footer">
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="commons/commons.html :: CommonsImportScript"></th:block>
<script th:src="@{/dept/js/departmentList_1.js}"></script>

</body>

</html>